@{
	ViewData["Title"] = "Assessment Details";
	Layout = "~/Views/Shared/_templateLayout.cshtml";
}

@section OtherHeadContent {
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
}


<div class="row">
	<div class="col-4">
		<div class="card text-white mb-3" style="max-width: 18rem; background-color:#db8770">
			<div class="card-body my-auto text-dark">
				<span style="font-size:35px">23</span> <span>CRITICAL</span>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card text-white mb-3" style="max-width: 18rem; background-color:#ebd160">
			<div class="card-body my-auto text-dark">
				<span style="font-size:35px">170</span> <span>HIGH</span>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card text-white mb-3" style="max-width: 18rem; background-color:white">
			<div class="card-body my-auto text-dark">
				<span style="font-size:25px">193/3010</span> <span>Threats</span>
				<div class="progress">
					<div class="progress-bar" role="progressbar" style="width: 15%; background-color: #db8770" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
					<div class="progress-bar" role="progressbar" style="width: 30%; background-color: #ebd160" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<div class="card" >
			<div class="card-body">
				<canvas id="vulchart"></canvas>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<canvas id="riskchart"></canvas>
			</div>
		</div>
	</div>

</div>

@section OtherPageScripts
{
	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script>
        const ctx = document.getElementById('vulchart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Climate', 'Cognition/Awareness', 'Security Behaviour', 'Attitude', 'Competency', 'Compliance', 'Communication and Collaboration', 'Responsibility'],
                datasets: [{
                    label: '', // Removed unnecessary array brackets around an empty string
                    data: [
        1,2,3,3,3,5,5,6,
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        // beginAtZero: true,
                        stacked: true // Added stacked option to display bars horizontally
                    },
                    x: { // Added x-axis configuration for clarity
                        stacked: true,
                        // max: 100,
                        // beginAtZero: true,

                    }
                },

                // plugins: {
                //     datalabels: {
                //         anchor: 'end',
                //         align: 'end',
                //         color: 'black',
                //         formatter: function (value, context) {
                //             return value;
                //         }
                //     }
                // }
            },
            plugins: [ChartDataLabels],
        });



    </script>

    <script>
        const ctx2 = document.getElementById('riskchart');

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['Climate', 'Cognition/Awareness', 'Security Behaviour', 'Attitude', 'Competency', 'Compliance', 'Communication and Collaboration', 'Responsibility'],
                datasets: [{
                    label: '', // Removed unnecessary array brackets around an empty string
                    data: [
                        1, 2, 3, 3, 3, 5, 5, 6,
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        // beginAtZero: true,
                        stacked: true // Added stacked option to display bars horizontally
                    },
                    x: { // Added x-axis configuration for clarity
                        stacked: true,
                        // max: 100,
                        // beginAtZero: true,

                    }
                },

                // plugins: {
                //     datalabels: {
                //         anchor: 'end',
                //         align: 'end',
                //         color: 'black',
                //         formatter: function (value, context) {
                //             return value;
                //         }
                //     }
                // }
            },
            plugins: [ChartDataLabels],
        });



    </script>

}