@model IEnumerable<Cs_Risk_Assessment.ViewModels.AssessmentViewModel>
@{
	ViewData["Title"] = "View All Assessments";
	Layout = "~/Views/Shared/_templateLayout.cshtml";
}


<h1 class="h3 mb-3"><strong>Assessments</strong> Analytics</h1>

<div class="row">
	<div class="col-12 col-lg-12 col-xxl-9 d-flex">
		<div class="card flex-fill">
			<div class="card-header">

				<h5 class="card-title mb-0">All Assessments</h5>
			</div>
			<table class="table table-hover my-0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="d-none d-xl-table-cell">Total Assets</th>
						<th class="d-none d-xl-table-cell">Risk Assessment</th>
						<th class="d-none d-xl-table-cell">Risk Treatment</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var assessment in Model)
					{
						<tr>
							<td><a href="/Assessment/AssessmentDetails/@assessment.Id">@assessment.Name</a></td>
							<td>@assessment.AssetsCount</td>
							<td><a href="/Assessment/DetailRiskAssessment/@assessment.Id">View Detailed Risk Assessment</a></td>
							<td><a href="/Assessment/ControlRecomendations/@assessment.Id">View Control Recommendation</a></td>
							@* <td><span class="badge bg-success">Completed</span></td> *@
						</tr>
					}
					
				</tbody>
			</table>
		</div>
	</div>
</div>